// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.

$secondary-color: #03b5f9;
$success-color: #ff410e;
$alert-color: #c60f13;
$primary-color: #5da423;

// TYPOGRAPHY

$paragraph-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$paragraph-font-weight: 400;

$header-font-family:  $paragraph-font-family;
$header-font-weight:  100;
$header-font-style:   normal;
$header-font-color:   #222;

