// Settings file to override Foundation variables

// You can find the variables for each component at the bottom of their
// doc page. We tried to name them to where they'd make sense just by reading them.
// Go to http://foundation.zurb.com/docs/ to find what you need.

$primary-color: #ff4e18;
$secondary-color: #12bafb;
$alert-color: #c60f13;
$success-color: #5da423;

// TYPOGRAPHY
$header-font-family:  Baskerville, Times, serif;
$header-font-weight:  100;
$header-font-style:   normal;
$header-font-color:   #222;

$paragraph-font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$paragraph-font-weight: 400;


