/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";


[role="banner"]
{
  margin-bottom:emCalc(40px);
  
  img 
  { 
    width:100%;
  }
}

[role="main"]
{
  @include grid-column(12);
}

#sidebar
{
  @include grid-column(12);
  margin-top:emCalc(20px);
}

.post
{
  position:relative;
  padding-bottom:emCalc(60px);
  margin-bottom:emCalc(60px);
  border-bottom:1px solid  #e9e9e9;

  .entry-title
  {
    position:relative;
    padding-right:6em;
    padding-bottom:0;
    border-bottom:1px solid #e9e9e9;
  }

  .updated
  {
    position:absolute;
    right:0;
    bottom:emCalc(12px);
  }
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}


// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}

img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
    text-align:left;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}

.aligncenter
{
  text-align:center;
}

.widget
{
  padding-bottom:emCalc(20px);
  margin-bottom:emCalc(20px);
  border-bottom:1px solid #e9e9e9;
  
  form
  {
    margin-bottom:0;
  }

  li
  {
    list-style:inside none;
  }

  h2
  {
    font-size:1.8em;
    color:#666;
    margin-top:0;
  }
}

// COMMENTS

#comments,
#respond
{
  margin-top:emCalc(40px);
  padding-top:emCalc(40px);
  border-top:1px solid #e9e9e9;

  input[type="submit"]
  {
    float:right;
  }
}

.comment-author-fields
{
  @include grid-column(5);
}

.comment-fields
{
  @include grid-column(6, true);

  textarea
  {
    height:emCalc(230px);
    width:100%;
    display:block;
  }

}

.commentlist
{
  .comment
  {
    position:relative;
    display:block;
    list-style:inside none;
    margin:emCalc(20px) 0 emCalc(20px) 70px;
  }
  .comment-body
  {
    padding:emCalc(7px) emCalc(14px);
    background:#eee;

    &:before
    {
      content:"";
      display:block;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-right:20px solid #eee;
      border-radius:3px;
      position:absolute;
      left:-20px;
      top:-1px;
    }

    .comment .comment .comment-body
    {
      background:#e9e9e9;
      &:before
      {
        border-right-color:#e9e9e9;
      }
    }
  }

  .meta
  {
    font-weight:400;
    font-size:emCalc(12px);
    margin-top:emCalc(5px);
    display:block;
    color:#666;
    
    time a
    {
      color:#666;
    }
  }

  .fn
  {
    font-style:normal;
    font-weight:700;
    padding:0 emCalc(5px);
    font-style:normal;
  }

  .comment-reply-link
  {
    float:right;
    padding:0 emCalc(5px);
    font-weight:400;

    &:before
    {
      content:"⚫";
      display:inline-block;
      font-weight:100;
      padding:0 emCalc(10px);
      color:#eee;
    }
  }

  .avatar
  {
    position: absolute;
    border:1px solid #fff;
    left:-70px;
    top:5px;
    height:48px;
    width:48px;
    border-radius:24px;
  }
}
